@import "assets/css/main.css";
/* Стилизация кнопки */
.button {
    width: 189px;
    height: 48px;
    border-style: none;
    border-radius: 8px;

    color: var(--white);
    cursor: pointer;
}

.button:hover:not(:disabled) {
    filter: contrast(200%) saturate(200%);
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.button_primary {
    background-color: var(--primary);
}

.button_secondary {
    background-color: var(--secondary);
}

.button_alternate {
    color: var(--black);
    border: thin solid var(--grey-3);
    background-color: var(--white);
}

.button_alternate:hover:not(:disabled) {
    border-color: var(--black);
}