.skeleton {
    padding: 24px 40px 32px 24px;
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}

.skeleton__group {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

.skeleton__group-item {
    align-self: center;
}

.skeleton__circle {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    background: var(--grey-2);
    border-radius: 50%;
}

.skeleton__line {
    display: flex;
    margin-bottom: 8px;
    height: 20px;
    background: var(--grey-2);
}

.skeleton__line:last-child {
    margin-bottom: 0;
}